*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .container{
      margin:auto;
      width:100%;
  }
  a{
    text-decoration: none;
  }
  .nav-2{
    color: #fff;
  }
  .nav-2:hover {
    color: #ffc85a;
  }
  .nav-1{
    color:#ffc85a ;
  }
 .col-3 ul{
    list-style: none;
  }  
  .col-4 ul{
    list-style: none;
  } 
  /* .active{
  display: flex;
  flex-wrap: wrap;
} */
  .nav{
    background-color: rgba(25, 28, 31, 0.8);
    padding: 15px 0 15px 0;
  }
  .nav-2 i{
    margin-left: 5px;
  }
  .nav ul{
    display: flex;
    justify-content: center;
  }
  li{
    list-style: none;
  }
  .nav li{
    padding: 10px;
  }
  
  #section-1{
    background:linear-gradient(#000000a8,#00000078),url(image/hero-bg.jpg);
    height: 100vh;
    text-align: center;
    background-size:cover;
    display: flex;
   }
  .container-1{
     margin: auto;
     width: 100%;
  }
  body{
    font-family: "Open Sans", sans-serif;
  }
  #section-1 h1{
    margin: 0 0 10px 0;
    font-size: 64px;
    font-family: "Satisfy", serif;
    color: #fff;
  }
  #section-1 h2{
    color: #eee;
    margin-bottom: 50px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .sec-1-button i{
    color: rgba(255, 255, 255, 0.6);
    font-size: 40px;
    color: #eee;
    animation-name:up;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }
  @keyframes up{
    0%{
      transform: translateY(-20px);

    }
    50%{
      transform: translateY(-10px);
      transition: 2s;
    }
    100%{
      transform: translateY(-20px);
      transition: 2s;
    }
  }
  
    
 
                                              /*  */
  #section-2{
    margin-top: 30px;
  }
  .container-2{
    margin:auto;
    width: 85%;
  }
  .about-sec-1{
    text-align: center;
    position: relative;
    padding: 43px;
  }
  .about-sec-1 h1{
    position: absolute;
    color: #eef0f2;
    top:15px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 50px;
    z-index: -8;
  }
  .about-sec-1 h2{
    z-index: 2;
    font-size: 30px;
    margin-bottom: 30px;
    color: #3b434a;
  }
  img{
    max-width: 100%;
  }
  .col-2{
    width:35%;
  }
  .row-2{
    display: flex;
  }
 .row-3{
  display: flex;
  flex-wrap: wrap;
  width: 65%;
 }
 .col-3{
  width:50%;
  padding-left: 40px;
  margin-bottom: 30px;
 }
 .col-4{
  width: 50%;
  padding-left: 35px;
  margin-bottom: 0px;
 }
 .col-3 i{
  margin-right: 5px;
  color: #ffb727;
 }
 .col-4 i{
  margin-right: 5px;
  color: #ffb727;
 }
 .col-3 li{
  margin-bottom: 20px;
  padding: 5px;
 }
 .col-4 li{
  margin-bottom: 20px;
  padding: 5px;
 }
 .client{
  display: flex;
 }
 .row-4{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 }
 .solid{
  display:flex;
  width: 100%;
 }
 .col-5{
   width:50%;
   padding-left:40px;
 }
 .row-5{
  width:100%;
  padding-left: 30px;
 }
 .client i{
  color: #20b38e;
  font-size: 36px;
  padding: 5px;
 }
 .number{
  font-size: 36px;
  padding: 3px;
 }
 .clients{
  margin-left: 10px;
 }
 .clients-size{
  padding: 10px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #5d6a75;
  margin-bottom: 20px;
 }

 .col-6{
  height:60px;
  padding: 20px;
  width: 100%;
  display: block;
 }
 .progress-2{
  float: right;
 }
.progress-3{
  height: 10px;
  transition: 0.9s;
  width: 100%;
  background-color: #ffb727;;
  /* accent-color: yellow; */
  /* border: 1px solid yellow; */
}
.progress-1{
  width: 100%;
}
                                              /*  */
#section-3{
  margin-top: 30px;
}
.container-3{
  margin:auto;
  width: 85%;
}
.resume1{
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.resume1 h1{
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 52px;
  line-height: 0;
}
.resume1 h2{
  font-size: 32px;
  margin-bottom: 20px;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.row-6{
  display: flex;
  margin: 0px;
}
.col-7{
  width:50%;
}
.col-8{
  width: 50%;
}
.resume-color{
  color:#ffb727;
  margin-bottom: 10px;
}
.resume-head-1{
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.resume-2{
  padding: 0 0 20px 20px;
  position: relative;
  border-left: 2px solid #82909c;
  line-height: 1.5;
}
.resume-color-1 {
  font-size: 16px;
  background: #eef0f2;
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 10px;
}
.resume-align {
  padding-left: 20px;
}
.resume-align li{
  padding-bottom: 10px;
}
.resume-2::before{
  content:"";
  position:absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background: #fff;
  border: 2px solid #82909c;
  top:0;
  bottom:0;
  right: 0;
  left: -10px;
}
.resume-2 p{
  margin-bottom: 10px;
}
                                          /*  */
#section-4{
  margin-top: 30px;
}
.container-4{
  margin:auto;
  width: 85%;
}
.service-1{
  text-align: center;
  padding: 30px;
  position: relative;
}
.service-1 h1{
  position: absolute;
  top:0px;
  color: #eef0f2;
  bottom: 0;
  right: 0;
  left:0;
  z-index: 1;
  font-size: 50px;
}
.service-1 h2{
  font-size: 30px;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}
.row-7{
  display: flex;
}
.col-9{
  width: 25%;
  text-align: center;
  margin: 0px;
}
.service-2{
  margin:10px;
  padding: 30px;
  position: relative;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border: 1px solid #fff;
}
.service-icon{
  margin: 0 auto 20px auto;
  padding-top: 17px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  background: #fff4df;
}
.service-icon i{
  font-size: 36px;
  color: #ffb727;
}
.service-head{
  margin-bottom: 15px;
  font-size: 18px;
}
.service-head a{
  color: #111;
  text-decoration: none;
}
.service-para{
  font-size: 15px;
  line-height: 28px;
}
.service-2:hover .lorem {
  color: #ffb727;
} 
.service-2:hover{
  border-color: #ffb727;
}
                                             /*  */
#section-5{
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background:linear-gradient(#0000008c,#00000078),url(image/testimonials-bg.jpg) fixed center ;
  background-size: cover;
}
.carousel-img{
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-nav button.owl-prev{
  display: none;
} 
.owl-carousel .owl-nav button.owl-next{
  display:none ;
}
.carousel-img img{
  border-radius: 50%;
  padding: 10px;
  max-width: 10%;
}
.col-10{
  text-align: center;
  padding-top: 80px;
}
.carousel-para{
  display: flex;
  padding: 30px;
  justify-content: center;
  line-height: 1.5;
}
.carousel-name h2{
  color:#fff;
	padding:5px;
}
.carousel-name p{
  color:#edcdcd;
}
.carousel-para{
  color:#edcdcd;
}
.carousel-para i{
  font-size: 20px;
}
.carousel-para p{
  font-size:18px;
}
                                      /*  */
#section-6{
  margin-top: 30px;
}
.container-6{
  margin:auto;
  width: 85%;
}
.portfolio-1{
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.portfolio-1 h1{
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 52px;
  line-height: 0;
}
.portfolio-1 h2{
  font-size: 32px;
  margin-bottom: 20px;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.portfolio-2 ul{
  display: flex;
  justify-content: center;
  margin-bottom: 20PX;
}
.portfolio-2 li{
   list-style: none;
   margin: 5px 15px 5px 15px;
   padding: 5px 10px;
   cursor: pointer;
}
.portfolio-3{
  color: #ffb727;
  border: 2px solid #ffb727;
}
.portfolio-4{
  border: 2px solid #fff;
}
.portfolio-head:hover .portfolio-4{
  color: #ffb727;
  border: 2px solid #ffb727;
}
.row-9{
  display: flex;
  overflow: hidden;
}
.col-11{
  width: 33.3%;
  overflow:hidden ;
}
.portfolio-img{
  position: relative;
  margin:10px;
  overflow: hidden;
  
}
.portfolio-img-para{
  opacity: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: all 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio-img:hover .portfolio-img-para{
 opacity: 1;
}
.nme i{
  color:#fff;
  padding: 8px;
}
.portfolio-img:hover img{
  transform:scale(1.2);
  transition:1s linear;
}
.portfolio-img h2{
  color:#fff;
}
.portfolio-img p{
  color:rgba(255, 255, 255, 0.8);
}
                                            /*  */
#section-7{
  margin-top: 30px;
}
.container-7{
  margin:auto;
  width: 85%;
}
.pricing-1{
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.pricing-1 h1{
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 52px;
  line-height: 0;
}
.pricing-1 h2{
  font-size: 32px;
  margin-bottom: 20px;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.row-10{
  display: flex;
}
.col-12{
  width:23%;
  margin: 10px;
}
.pricing-box{
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.pricing-box .pricing-box-color{
  background-color: #ffb727;
  color:#fff;
}
.pricing-box-advanced{
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #ffb727;
  color: #fff;
}
.pricing-box h3{
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  color: #777777;
  background: #f8f8f8;
}
.pricing-box h4{
  font-size: 36px;
  color: #ffb727;
  margin-bottom: 20px;
}
.pricing-box h4 span{
  color: #bababa;
  font-size: 16px;
}
.pricing-box p{
  font-size: 14px;
  padding-bottom: 16px;
}
.pricing-button{
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
}
.pricing-button-1{
  background: #ffb727;
  padding: 8px 35px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
}
.box-color{
  color: #ccc;
}
                                            /*  */
#section-8{
  margin-top: 30px;
}
.container-8{
  margin:auto;
  width: 85%;
} 
.contact-1{
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.contact-1 h1{
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 52px;
  line-height: 0;
}
.contact-1 h2{
  font-size: 32px;
  margin-bottom: 20px;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.row-11{
  display: flex;
}       
.col-13{
  width:50%;
}   
.contact-2{
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin: 10px;
}                 
.contact-2 i{
  font-size: 24px;
  color: #687683;
  border-radius: 50%;
  padding: 15px;
  height: 54px;
  width: 55px;
  background: #fff6e4;
}    
.contact-2 i:hover{
  color:#fff;
  background-color:#ffb727;
}      
.contact-2 h3{
  font-size: 20px;
  color: #777777;
  margin: 10px 0;
}
.contact-icon{
  margin-top: 15px;
}
.contact-icon-2{
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}
.contact-icon-2 i{
  font-size: 24px;
  color: #687683;
  border-radius: 50%;
  padding: 15px;
  height: 54px;
  width: 55px;
  background: #fff6e4;
}
.contact-icon a{
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #dde1e4;
  margin: 7px;
}
.contact-icon-2 h3{
  font-size: 20px;
  color: #777777;
  margin: 10px 0;
}
.contact-icon-2 p{
  font-size: 14px;
}
.row-13{
  display: flex;
}
.col-15{
  width:45%;
  margin: 10px;
}
#contact-icon-3{
  color:#ffb727;
}
#contact-icon-4{
  color:#ffb727;
}
#contact-icon-3:hover{
  color:#fff;
}
.row-14{
  display: flex;
}
form{
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 27px;
  margin: 10px;
}
.form-1{
  width:50%;
  padding: 10px;
}
.form-1 input{
	width:100%;
	padding:10px;
  border: 1px solid #ced4da;

}
.form-2{
  width:100%;
  padding: 10px;
}
.form-2 input{
	width:100%;
	padding:10px;
  border: 1px solid #ced4da;

}
.form-3{
	width:100%;
	padding:10px;
}
.form-3 textarea{
	width:100%;
	padding:10px;
  border: 1px solid #ced4da;

}
.contact-button{
  text-align: center;
}
.contact-button button{
  color:#fff;
  background: #ffb727;
  border: 0px;
  padding: 15px 24px;
  border-radius: 5px;
  cursor: pointer;
}
                                           /*  */
#section-9{
margin-top: 30px;
background:linear-gradient(#0000008c,#00000078), url(image/footer-bg.jpg);
background-size: cover;
padding: 80px 0;
}
.container-9{
margin:auto;
width: 100%;
} 
.col-16{
  text-align: center;
  font-size: 14px;
}
.col-16 h3{
  font-size: 36px;
  color: #fff;
  font-family: "Satisfy", serif;
  margin: 0 0 15px 0;
}
.col-16 p{
  font-style: italic;
  color: #fff;
  margin: 0 0 40px 0;
}
.footer-icon{
  margin: 0 0 40px 0;
}
.footer-icon i{
  font-size: 18px;
    background: #ffb727;
    color: #fff;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.footer-last{
  color: #fff;
  line-height: 1.5;
}
.finish{
  color:#ffb727;
  cursor: pointer;
}

                              /* FINISH */
                              /* MEDIA QUERY */
                              /* 320px */
@media(min-width:320px){
  #section-1{   
    background-position-x: right;
  }
  #section-1 h1{
    font-size: 40px;
  }
  .nav{
    display: none;
  }
  .nav-icon{
    text-align: center;
    background: rgba(25, 28, 31, 0.8);
    color: #fff;
  }
  /* .nav-icon{
    display: block;
    color: #fff;
    font-size: 40px;
    text-align: end ;
    background: rgba(25, 28, 31, 0.8);
    font-size: 25px;  
    padding-right:20px ;  
      
  } */
  /* .fa-bars{
    position: relative;
  }
   #nav{
    display:none;
   }
  .nav.active{
    display: block;
  }
  .nav ul{
     position: absolute;
     top: 10px ;
     right: 20px;
     flex-direction: column !important;
     background-color: #fff;

  }
  .nav ul li a{
    color: #111;
  } */
  /* .nav-icon{
    display: block;
  }
  /*.nav ul{
    justify-content:start;
    flex-direction:column;
    align-items:center;
    position: fixed;
    top: 0;
    right: 0;
    background: #111;
    height: 100%;
    width: 300%;
    padding-top:65px;
  }
  .nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  .nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  } */
  #section-2 {
    margin-top: 20px;
  }
  .container-2{
    width: 100%;
  }
  .row-2{
    display: flex;
    flex-wrap: wrap;
  }
  .col-2{
    width:100%;
  }
  .about-sec-1{
    padding: 30px;
  }
  .about-sec-1 h1{
    font-size: 45px;
    top: 5px;
  }
  .row-3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   }
  .solid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .col-3{
    width: 100%;
    padding-left: 12px;
  }
  .col-4{
    width: 100%;
    padding-left: 12px;
    margin-bottom: 20px;
  }
  .col-5{
    width: 100%;
    padding-left: 12px;
  }
  #section-3{
    margin-top: 30px;
  }
  .container-3{
    margin:auto;
    width: 100%;
  }
  .resume1{
    padding: 30px;
  }
  .resume1 h1{
    font-size: 45px;
    top: 28px;
  }
  .row-6{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .col-7{
    width:100%;
  }
  .col-8{
    width: 100%;
  }
  #section-4{
    margin-top: 30px;
  }
  .container-4{
    margin:auto;
    width: 100%;
  }
  .service-1 h1{
    top: 8px;
    font-size: 40px;
  }
  .row-7{
    display: flex;
    flex-wrap: wrap;
  }
  .col-9{
    width: 100%;
    margin: 10px;
  }
  #section-5{
    margin-top: 30px;
  }
  .container-5{
    margin:auto;
    width: 100%;
  }
  .carousel-img img{
    max-width: 35%;
  }
  .carousel-para p {
    font-size: 13px;
  }
  #section-6{
    margin-top: 30px;
  }
  .container-6{
    margin:auto;
    width: 100%;
  }
  .portfolio-1{
    padding: 30px;
  }
  .portfolio-1 h2{
    font-size: 28px;
  }
  .portfolio-1 h1{
    font-size: 35px;
  }
  .row-9{
    display: flex;
    flex-wrap: wrap;
  }
  .col-11{
    width:100%;
  }
  .portfolio-2 li{
    margin: 0px;
 }
  #section-7{
    margin-top: 30px;
  }
  .container-7{
    margin:auto;
    width: 100%;
  }
  .pricing-1{
    padding: 30px;
  }
  .pricing-1 h2{
    font-size: 28px;
  }
  .pricing-1 h1{
    font-size: 45px;
  }
  .row-10{
    display: flex;
    flex-wrap: wrap;
  }
  .col-12{
    width: 100%;
  }
  #section-8{
    margin-top: 30px;
  }
  .container-8{
    margin:auto;
    width: 100%;
  }
  .contact-1{
    padding: 30px;
  }
  .contact-1 h1{
    font-size: 35px;
  }
  .contact-1 h2{
    font-size: 28px;
  }
  .row-11{
    display: flex;
    flex-wrap: wrap;
  }
  .col-13{
    width: 100%;
  }
  .row-13{
    display: flex;
    flex-wrap: wrap;
  }
  .col-15{
    width: 100%;
  }
  .contact-icon a{
    margin: 4px;
  }
  .contact-2 i{
    font-size: 17px;
    padding: 13px;
    height: 45px;
    width: 45px;
  }
  .row-14{
    display: flex;
    flex-wrap: wrap;
  }
  .form-1{
    width: 100%;
  }
}
                                /* 690 */
@media(min-width:690px){
  
  .nav-icon{
    color: #fff;
    display: none;
  }
  .nav{
    display: block;
  }
  #section-1 h1{
    font-size: 50px;
  }
  #section-2 {
    margin-top: 25px;
  }
  #section-2 {
    margin-top: 20px;
  }
  .container-2{
    width: 80%;
  }
  .row-2{
    display: flex;
    flex-wrap: wrap;
  }
  .col-2{
    width:100%;
  }
  .about-sec-1{
    padding: 30px;
  }
  .about-sec-1 h1{
    font-size: 50px;
    top: 3px;
  }
  .row-3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   }
  .solid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .col-3{
    width: 100%;
    padding-left: 12px;
  }
  .col-4{
    width: 100%;
    padding-left: 12px;
    margin-bottom: 20px;
  }
  .col-5{
    width: 100%;
    padding-left: 12px;
  }
  #section-3{
    margin-top: 30px;
  }
  .container-3{
    margin:auto;
    width: 80%;
  }
  .resume1{
    padding: 30px;
  }
  .resume1 h1{
    font-size: 52px;
    top: 30px;
  }
  .row-6{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  .col-7{
    width:100%;
  }
  .col-8{
    width: 100%;
  }
  #section-4{
    margin-top: 30px;
  }
  .container-4{
    margin:auto;
    width: 80%;
  }
  .service-1 h1{
    top: 2px;
    font-size: 46px;
  }
  .row-7{
    display: flex;
    flex-wrap: wrap;
  }
  .col-9{
    width: 100%;
    margin: 20px;
  }
  #section-5{
    margin-top: 30px;
  }
  .carousel-img img{
    max-width: 17%;
  }
  .carousel-para p {
    font-size: 17px;
  }
  .container-5{
    margin:auto;
    width: 100%;
  }
  #section-6{
    margin-top: 30px;
  }
  .container-6{
    margin:auto;
    width: 80%;
  }
  .portfolio-1{
    padding: 30px;
  }
  .portfolio-1 h2{
    font-size: 32px;
  }
  .portfolio-1 h1{
    font-size: 45px;
  }
  .row-9{
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-2 li{
    margin: 0px;
 }
  .col-11{
    width:100%;
  }
  #section-7{
    margin-top: 30px;
  }
  .container-7{
    margin:auto;
    width: 80%;
  }
  .pricing-1{
    padding: 30px;
  }
  .pricing-1 h2{
    font-size: 30px;
  }
  .pricing-1 h1{
    font-size: 50px;
  }
  .row-10{
    display: flex;
    flex-wrap: wrap;
  }
  .col-12{
    width: 100%;
  }
  #section-8{
    margin-top: 30px;
  }
  .container-8{
    margin:auto;
    width: 80%;
  }
  .contact-1{
    padding: 30px;
  }
  .contact-1 h1{
    font-size: 52px;
  }
  .contact-1 h2{
    font-size: 32px;
  }
  .row-11{
    display: flex;
    flex-wrap: wrap;
  }
  .col-13{
    width: 100%;
  }
  .row-13{
    display: flex;
    flex-wrap: wrap;
  }
  .col-15{
    width: 100%;
  }
  .contact-icon a{
    margin: 6px;
  }
  .contact-2 i{
    font-size: 22px;
    padding: 12px;
    height: 50px;
    width: 50px;
  }
  .row-14{
    display: flex;
    flex-wrap: wrap;
  }
  .form-1{
    width: 100%;
  }
}
                                 /* 1020  */
@media(min-width:1020px){
  
  .nav-icon{
    display: none;
  } 
  .nav{
    display: block;
  }
  #section-1 h1{
    font-size: 64px;
  }
  #section-2 {
    margin-top: 20px;
  }
  .container-2{
    width: 80%;
  }
  .row-2{
    display: flex;
  }
  .col-2{
    width:35%;
  }
  .about-sec-1{
    padding: 43px;
  }
  .about-sec-1 h1{
    font-size: 50px;
    top: 15px;
  }
  .row-3{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
   }
  .solid{
    display: flex;
    width: 100%;
  }
  .col-3{
    width: 50%;
    padding-left: 40px;
  }
  .col-4{
    width: 50%;
    padding-left: 40px;
    margin-bottom: 0px;
  }
  .col-5{
    width: 50%;
    padding-left: 40px;
  }
  #section-3{
    margin-top: 30px;
  }
  .container-3{
    margin:auto;
    width: 80%;
  }
  .row-6{
    display: flex;
    margin: 0px;
  }
  .resume1{
    padding: 30px;
  }
  .resume1 h1{
    font-size: 52px;
    top: 30px;
  }
  .col-7{
    width:50%;
  }
  .col-8{
    width: 50%;
  }
  #section-4{
    margin-top: 30px;
  }
  .container-4{
    margin:auto;
    width: 80%;
  }
  .service-1 h1{
    top: 0px;
    font-size: 50px;
  }
  .row-7{
    display: flex;
  }
  .col-9{
    width: 25%;
    margin: 0px;
  }
  #section-5{
    margin-top: 30px;
  }
  .container-5{
    margin:auto;
    width: 100%;
  }
  .carousel-img img{
    max-width: 10%;
  }
  .carousel-para p {
    font-size: 18px;
  }
  #section-6{
    margin-top: 30px;
  }
  .container-6{
    margin:auto;
    width: 80%;
  }
  .portfolio-1{
    padding: 30px 0;
  }
  .portfolio-1 h2{
    font-size: 32px;
  }
  .portfolio-1 h1{
    font-size: 52px;
  }
  .row-9{
    display: flex;
  }
  .portfolio-2 li{
    list-style: none;
    margin: 5px 15px 5px 15px;
    padding: 5px 10px;
    cursor: pointer;
 }
  .col-11{
    width:33.3%;
  }
  #section-7{
    margin-top: 30px;
  }
  .container-7{
    margin:auto;
    width: 80%;
  }
  .pricing-1{
    padding: 30px 0;
  }
  .pricing-1 h2{
    font-size: 32px;
  }
  .pricing-1 h1{
    font-size: 52px;
  }
  .row-10{
    display: flex;
  }
  .col-12{
    width:23%;
  }
  #section-8{
    margin-top: 30px;
  }
  .container-8{
    margin:auto;
    width: 80%;
  }
  .contact-1{
    padding: 30px 0;
  }
  .contact-1 h1{
    font-size: 52px;
  }
  .contact-1 h2{
    font-size: 32px;
  }
  .row-11{
    display: flex;
  }
  .col-13{
    width: 50%;
  }
  .row-13{
    display: flex;
  }
  .col-15{
    width: 45%;
  }
  .contact-icon a{
    margin: 7px;
  }
  .contact-2 i{
    font-size: 24px;
    padding: 15px;
    height: 54px;
    width: 54px;
  }
  .row-14{
    display: flex;
  }
  .form-1{
    width: 50%;
  }
  
}